<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title color="light">customers</ion-title>
  </ion-toolbar>

  <ion-toolbar style="margin-top: 15px;">
    <ion-searchbar placeholder="Search" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content 
      refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>


  <ion-list *ngIf="permission">
    <ion-item *ngFor="let user of searchUser">
      <ion-avatar slot="start" class="avatar">
        <img src="assets/img/{{user.image}}">
      </ion-avatar>
      <ion-avatar slot="end" class="avatar">
        <ion-icon name="search"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>{{user.state}}</p>
        <ion-note item-end>{{user.date}}</ion-note>
      </ion-label>
    </ion-item>

  </ion-list>

<ion-label *ngIf="!permission">No item at here</ion-label>

</ion-content>