<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="" onclick="history.back()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true" [value]="['first', 'second']" #accordionGroup (ionChange)="accordionGroupChange($event)">
    <ion-accordion  value="first">
      <ion-item slot="header" color="primary">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>

  <ion-accordion value="second">
    <ion-item slot="header" color="primary">
      <ion-label>Second Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Second Content</div>
  </ion-accordion>

  <ion-accordion value="third">
    <ion-item slot="header" color="primary">
      <ion-label>Third Accordion</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>
  </ion-accordion-group>
  <p #listenerOut></p>

  <ion-button (click)="toggleAccording()">Toggle First Accordion</ion-button>
</ion-content>
